@model ML.Producto

@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container text-center bg-dark text-white">
    <h1>Productos</h1>
    <p></p>

</div>





<div class="row" style="padding-top:30px">
    @*row para mostrar Producto*@
    <div class="col-md-12">


        @foreach (ML.Producto producto in Model.Productos)
        {

            <div class="container col-lg-3">
                <div class="row ">
                    <div class="col-md-3">
                        <div class="card" style=" width:150px">
                            <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(@producto.LogoTipo)" style="height: 80px; width: 80px" />
                            <div class="card-body">
                                <h4 class="card-title">@producto.IdProducto</h4>
                                <h4 class="card-title">@producto.Nombre</h4>
                                <p class="card-text">@producto.Descripcion</p>
                                <p class="card-text">Disponible: @producto.Stock</p>
                                @Html.ActionLink("Agregar al carrito", "AddCarrito", new { IdProducto = producto.IdProducto })
                            </div>
                        </div>

                    </div>
                </div>

            </div>



        }


    </div>

</div>





<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>





